*{
    box-sizing: border-box ;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.main_container{
  width: 100%;
  height: 1880px;
  background-color:  hsl(219, 30%, 18%);
}

.fylo_logo_cont{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.text_cont{
  width: 100%;
  height: auto;
}

.subtext{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 513px; 
}

.subtext h1{
  line-height: 3rem;
  padding: 4px;
  text-align: center;
  color: white;
}
.subtext p{
  line-height: 1.7rem;
  padding: 30px;
  text-align: center;
  color: white;
  width: 76%;
  margin: 0 auto;
}
.button {
  background-color: rgb(21, 170, 219);
  width: 28%;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

.carryerimg{
  background-image: url(../images/bg-curvy-desktop.svg);
    width: 100%;
    height: 436px;
     background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.carryering{
  display: none;
}
.multi_cont{
  width: 100%;
  height: 2000px;
  background-color: rgb(24, 31, 43);
  position: relative;
    bottom: 1rem;
}
.mainflexboxtext{
  width: 100%;
    height: 650px;
}

.flexbox_text{
  position: absolute;
  left: 14rem;
  width: 80%;
  
}
.column {
  float: left;
  width: 40%;
  padding: 5px 52px;
  height: 267px;
  text-align: center;
  color: white;
  font-size: 13px;
}
.column h2{
  line-height: 4rem;
}

.column p{
  line-height: 1.3rem;
}

.flextmain-cont2{
  width: 100%;
  height: 600px;
  position: relative;
  bottom: 4rem;
 }

.flexbox_cont2{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}


.image_flex2{
  width: 50%;
}

.text_flex2{
  width: 50%;
  color: white;
  margin: 7rem 20px;
}


.text_flex2 h3 {
  font-size: 30px;
  width: 50%;
}
.text_flex2 p{
  padding: 15px 0;
}
.text_flex2 a{
  text-decoration: none;
  border-bottom: 3px solid;
  color: aqua;
  cursor: pointer;
}

.flextmain-cont3{
  width: 100%;
  height: 500px;
 }
.flexbox_cont3{
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.flexbox_cont3 img{
  width: 10%;
  height: 35px;
}

.box1{
  color: white;
  background-color: hsl(219, 30%, 18%);
  width: 85%;
  height: 272px;
  padding: 21px 18px;
  margin: 24px;
}

.box1 h4{
  font-size: 16px;
  font-weight: 100;
}

.subtext_box1{
  position: relative;
  top: 45px;
}

.subtext_image img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.subtext_text{
  position: absolute;
  top: 30px;
  left: 77px;
}
.subtext_text p{
  font-size: 8px;
}

.textmain-cont2{
   width: 100%;
    height: 50px;
    text-align: center;
}
.text-cont2{
  width: 50%;
  height: 250px;
  color: white;
  background-color: hsl(219, 30%, 18%);
  margin: 4rem auto;
}

.text-cont2 h4{
  font-size: 2rem;
  line-height: 6rem;
}

.text-cont2 p{
  font-size: 15px;
}

.text_botton{
  width: 100%;
  height: 100px;
  line-height: 8rem;
}
.example_botton{
  width: 60%;
  border-radius: 20px;
  height: 45px;
  border: none;
  padding: 15px 32px;
  text-align: left;
  cursor: pointer;
  background-color: white;
  color: rgb(21, 170, 219);
}

.get_botton{
  width: 30%;
  height: 45px;
  border: none;
  padding: 15px 32px;
  cursor: pointer;
  color: white;
  background-color: rgb(21, 170, 219);
  border-radius: 20px;
}

.locateion_cont{
  width: 40%;
}

.locateion_cont img{
  padding: 13px 6px;
}
.locate_img{
  display: flex;
}
.locate_img img{
  width: 2%;
  height: 14px;
}
.locate_img p{
  width: 75%;
}
.footer_text1{
  width: 17%;
  position: relative;
  top: 2rem;
}
.footer_text1 div{
     display: flex;
}
.footer_subtext{
  display: flex;
  padding: 20px 0px;
}

.footer_subtext2{
  display: flex;
}
.footer_text2{
  width: 17%;
  position: relative;
  top: 3.5rem;
  padding: 0px 57px;
}
.footer_subtext2{
  width: 17%;
  position: relative;
  top: 3.5rem;
}

.footer_text2 a{
  color: white;
  text-decoration: none;
}

.footersoical_images{
  width: 23%;
  position: relative;
  top: 3.5rem;
  font-size: 2rem;
}
.fa-facebook-f{
  border-radius: 50%;
  border: 1px solid;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  text-align: center;
  padding: 7px 0px;
}

.fa-twitter{
  border-radius: 50%;
  border: 1px solid;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  text-align: center;
  padding: 7px 0px;
}

.fa-instagram{
  border-radius: 50%;
  border: 1px solid;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  text-align: center;
  padding: 7px 0px; 
}

.footer_section{
  width: 100%;
  height: 500px;
  background-color: hsl(216, 53%, 9%);
  position: relative;
  bottom: 7rem;
  z-index: -1;
}

.footer-container{
  width: 92%;
  height: 300px;
  display: flex;
  color: white;
  margin: 0px 6rem;
  padding: 13rem 0;
}

.attribution { 
  font-size: 11px;
   text-align: center;    
   bottom: 9rem;
   position: relative;
   color: white;
}
  .attribution a { color: hsl(228, 45%, 44%); }




  
@media (max-width: 375px) {
  .main_container{
    width: 101%;
  }
  .fylo_logo_cont{
    padding: 24px 12px;
    height: 100px;
  }
  .multi_cont{
    height: 3000px;
  }
   .logo_cont{
    width: 40%;
  }
  .logo_cont img{
    width: 90%;
  }
  .topnav{
    width: 89%;
    height: 50px;
    position: relative;
    top: 5px;
    left: 40px; 
  }
  .topnav a{
    font-size: 13px;
    padding: 0px 12px;
    font-weight: 100;
  } 
  .subtext{
    width: 100%;
  }
  .subtext img{
    width: 90%;
  }
  .subtext h1{
    width: 80%;
    font-size: 20px;
    line-height: 2rem;
    margin: 0 auto;
   }
   .subtext p{
    width: 100%;
   }
   .button{
    width: 60%;
   }
   .flexbox_text{
    width: 100%;
    left: 0;
   }
   .column{
    width: 100%;
   }
   .flextmain-cont2{
    position: relative;
    top: 30rem;
   }
   .flexbox_cont2{
    display: block;
   }
   .image_flex2 {
    width: 90%;
    margin: 0 auto;
   }
   .image_flex2 img{
    width: 100%;
   }
   .text_flex2{
     width: 100%;
     margin: 3rem auto;
   }
   .text_flex2 h3{
    width: 100%;
    font-size: 20px;
   }
   .flextmain-cont3{
    position: relative;
    top: 30rem;
   }
   .flexbox_cont3{
     display: block;
   }
   .textmain-cont2{
    position: relative;
    top: 68rem;
    height: 360px;
   }
   .text-cont2{
    width: 100%;
    margin: 0 auto;
    height: 350px;
   }
   .text_botton {
    line-height: 5rem;
    height: 180px;
   }
   .text-cont2{
     width: 80%;
   }
   .text-cont2 h4{
    font-size: 1.5rem;
   }

   .text-cont2 p{
    font-size: 13px;
    line-height: 19px;
    width: 90%;
    margin: 0 auto;
   }
   .example_botton{
     width: 85%;
   }
   .get_botton{
     width: 85%;
   }
   .flextmain-cont3{
     position: relative;
     top:32rem;
   }
   .flexbox_cont3{
     display: block;
   }
   .footer_section{
    position: relative;
    top: -1rem;
    height: 1000px;
   }
   .footer-container{
    display: block;
    width: 100%;
    margin: 0 auto;
   }
   .locateion_cont {
    width: 80%;
    margin: 0 auto;
   }

   .locate_img img{
    width: 10%;
    height: 50px;
    position: relative;
    left: -1rem;
    bottom: 1rem;
   }
   .locate_img p {
    width: 100%;
   }
   .footer_text1{
     width: 100%;
   }
   .footer_subtext{
    width: 77%;
    margin: 0 auto;
   }
   .footer_subtext img{
    position: relative;
    left: -1rem;
   }
   .footer_text2{
    width: 85%;
    padding: 0px;
    margin: 0 auto;
    line-height: 3rem;
   }
   .footersoical_images{
    width: 39%;
    margin: 0 auto;
    position: relative;
    top: 6rem;
   }
   .fa-facebook-f,.fa-twitter,.fa-instagram{
    width: 43px;
    height: 43px;
    padding: 6px 4px
   }
   .attribution{
    bottom: 2rem;
   }
   .carryering{
    background-image: url(../images/bg-curvy-mobile.svg);
    display: block;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0rem;
    position: relative;
    }
   .carryerimg{
     display: none;
   }
   .multi_cont {
    height: 3000px;
    position: relative;
    top: 5rem;
   }

   .box1 h4{
    font-size: 13px;
   }
 
   


}


